.flexColumn {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bodyBox {
    width: 100%;
    min-height: 100%;
}
